@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

/* ---------------------------------------------------Colours */

.bg-color-navbar {
    background-color: #4abdac;
}

.bg-color-footer {
    background-color: #4abdac;
}



/* ---------------------------------------------------Special paddings/margins/text */

/* ----------------------------------------------------Heading */

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

/* ----------------------------------------------------Navbar */

.navbar {
    font-family: 'PT Sans Narrow', sans-serif;
    text-decoration: none;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
    margin: 8px 16px 4px 24px;
}



.navbar-title {
    margin-left: 32px;
    font-size: 32px;
}


.navbar-link-items {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    padding-left: 10px;
    padding-right: 40px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff
}

.navbar-toggler {
    border: none;
}



.navbar-toggler:focus {
    box-shadow: none;
}

/* --------------------------------------Carousel */
.carousel-img {
    width: 100%;
}

@media screen and (min-width: 1200px) {
  .carousel-img {
    height: 100vh;
  }
}

/* ----------------------------------------------------About Me */

.about-me {
    background-color: #fff;
}


.about-section-image {
    padding: 40px;
}

.about-section-title {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: bolder;
    color: #f5a732;
}

.about-section-content {
    font-family: "Open Sans", sans-serif;
    padding: 40px;
}

/* ----------------------------------------------------Featured Recipe */

.featured-recipes-section {
    background-color: rgb(248, 248, 248);
    padding-bottom: 10px;
}

.featured-recipe-images {
    margin: 40px;
}

.featured-recipes-heading {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: bolder;
    color: #f5a732;
    padding-top: 30px;
    padding-bottom: 10px;
}

.recipe-thumbnail {
    padding-top: 20px;
    padding-bottom: 20px;
}

.recipe-image:hover,
.recipe-image:focus {
    transition: box-shadow 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.55s ease-in-out;
    box-shadow: 0 0 11px rgba(19, 19, 19, 0.5); 
    transform: scale(1.03);

}

.recipe-link-text {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
    color: #f5a732;
}

.recipe-link-text:hover {
    transition: 0.3s ease-in-out;
    color: #4abdac;
}

.img-underline-from-left:before {
    background: #4abdac;
    transition-duration: .4s;
    height: 5px;
    overflow: hidden;
}

.recipe-links-padding {
    padding-top: 20px;
}

.recipe-image-and-title {
    margin-bottom: 50px;
}

/* ----------------------------------------------------Recipes Page */

.recipes-heading {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: bolder;
    color: #f5a732;
    margin-top: 50px;
    text-decoration: underline;
}

.recipes-page-images {
    margin: 20px 40px 40px 40px;
}

/* ----------------------------------------------------Individual recipes Page */


.individual-recipe-page-content {
    margin-top: 70px;
}


/* ----------------------------------------------------Sign up section */


.sign-up-section {
    margin: 40px;
}

.sign-up-form {
    padding-bottom: 30px;
}

.sign-up-heading {
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bolder;
    color: #f5a732;
}

.btn-primary {
    background-color: #4abdac;
    color: #fff;
    border-color: #4abdac;
}

.btn-primary:hover {
    color: #4abdac;
    background-color: transparent;
    border-color: #4abdac;
}

.form-control {
    width: 90%;
}

.form-control:focus {
    outline: none !important;
    border:1px solid #fff;
    box-shadow: 0 0 10px #f5a732;
}

/* ----------------------------------------------------General */


.general-sub {
    font-family: "PT Sans Narrow", sans-serif;
    color: #ffffff;
}


/* ----------------------------------------------------Footer */

footer {
    margin: 0;
    min-height: 90px;
    padding-top: 25px;
}

.footer-title {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 25px;

}

.footer-copyright {
    font-family: "PT Sans", sans-serif ;
    text-align: "center";
    color: white;
    font-size: x-small;
    letter-spacing: 1px;
    font-weight: 400;
    padding: 10px 0 0 32px;
}

/* ----------------------------------------------------Credit Code Institute */

.social-links { 
    text-align: right;
    padding-right: 12px;
}



.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 15px;
    line-height: 7px;
    text-align: center;
    color: #4abdac;
    background: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: #fafafa;
    background-color: #4abdac;
}



/* ----------------------------------------------------Hover.css */

.hvr-underline-from-left:before {
    background: rgba(255, 255, 255, 0.5);
    transition-duration: .4s;
    height: 1px;
    overflow: hidden;
}



/* -------------------------------------------Media Queries */



  







