@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* ---------------------------------------------------Colours */

.bg-color-navbar {
    background-color: #4abdac;
}

.bg-color-footer {
    background-color: #4abdac;
}



/* ---------------------------------------------------Special paddings/margins/text */

/* ----------------------------------------------------Heading */

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

/* ----------------------------------------------------Navbar */

.navbar {
    font-family: 'PT Sans Narrow', sans-serif;
    text-decoration: none;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
    margin: 8px 25px 8px 25px;
}



.navbar-title {
    padding-left: 10px;
    margin: 0;
    font-size: 30px;
}


.navbar-link-items {
    font-size: 17px;
    font-family: 'PT Sans', sans-serif;
    padding-right: 40px;
}

.navbar-toggler {
    border: none;
}



.navbar-toggler:focus {
    box-shadow: none;
}

.carousel {
    width: 100%;
}

/* ----------------------------------------------------About Me */

.about-me {
    background-color: #fff;
}


.about-section-image {
    padding: 40px
}

.about-section-title {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: bolder;
    color: #f5a732;
}

.about-section-content {
    padding: 40px;
}

/* ----------------------------------------------------Featured Recipe */

.featured-recipes-heading {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: bolder;
    text-decoration: none;
    color: #f5a732;
}



/* ----------------------------------------------------Sign up section */

.sign-up-section {
    margin: 40px
    
}

.sign-up-form {
    padding: 0, 20px, 0, 20px;
}

.sign-up-heading {
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bolder;
    color: #f5a732;
}

.btn-primary {
    color: #4abdac;
    background-color: transparent;
    border-color: #4abdac;
}

/* ----------------------------------------------------General */


.general-sub {
    font-family: "PT Sans Narrow", sans-serif;
    color: #ffffff;
}


/* ----------------------------------------------------Footer */

footer {
    margin: 0;
    min-height: 90px;
    padding-top: 25px;
}

.footer-title {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 25px;
    opacity: 0.5;

}

.footer-copyright {
    font-family: "PT Sans", sans-serif ;
    text-align: "center";
    color: white;
    font-size: x-small;
    opacity: 0.5;
    letter-spacing: 1px;
    font-weight: 400;
    padding: 10px 0 0 32px;
}

/* ----------------------------------------------------Credit Code Institute */

.social-links { 
    text-align: right;
    padding-right: 12px;
}



.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 15px;
    line-height: 7px;
    text-align: center;
    color: #4abdac;
    background: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: #fafafa;
    background-color: #4abdac;
}

/* ----------------------------------------------------Credit Code Institute */

/* ----------------------------------------------------Hover.css */

.hvr-underline-from-left:before {
    background: rgba(255, 255, 255, 0.5);
    transition-duration: .4s;
    height: 1px;
    overflow: hidden;
}




