@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* ---------------------------------------------------Colours */

.bg-color-navbar {
    background-color: #4abdac;
}

.bg-color-footer {
    background-color: #4abdac;
}



/* ---------------------------------------------------Special paddings/margins/text */

/* ----------------------------------------------------Heading */

header {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}





/* ----------------------------------------------------Navbar */

.navbar {
    font-family: 'PT Sans Narrow', sans-serif;
    text-decoration: none;
}

.navbar-brand {
    font-size: x-large;
    padding-left: 20px;
}

.navbar-link-items {
    font-size: 15px;
    font-family: 'PT Sans', sans-serif;
    padding: 0 20px 0 20px;
}



.navbar-toggler {
    border: none;
}

.nav-link-active {
    float: right;
}

/* ----------------------------------------------------General */


.general-sub {
    font-family: "PT Sans Narrow", sans-serif;
    color: #ffffff;
}


/* ----------------------------------------------------Footer */

footer {
    margin: 0;
    min-height: 90px;
    padding-top: 25px;
}

.footer-title {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 25px;
    opacity: 0.5;

}

.footer-copyright {
    font-family: "PT Sans", sans-serif ;
    text-align: "center";
    color: white;
    font-size: x-small;
    opacity: 0.5;
    letter-spacing: 1px;
    font-weight: 400;
    padding: 10px 0 0 32px;
}

/* ----------------------------------------------------Credit Code Institute */

.social-links { 
    text-align: right;
    padding-right: 12px;
}



.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 15px;
    line-height: 7px;
    text-align: center;
    color: #05386b;
    background: #8ee4af;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: #8ee4af;
    background-color: #05386b;
}

/* ----------------------------------------------------Credit Code Institute */




